[loggers]
keys=root

[logger_root]
level=WARNING
handlers=file,screen,report

[formatters]
keys=simple

[formatter_simple]
format=%(asctime)s - %(pathname)s - %(levelname)s - %(message)s

[handlers]
keys=file,screen,report

[handler_file]
class=FileHandler
formatter=simple
args=("logs/process.log", "w+")

[handler_report]
class=tools.logger.ReportLogger.ReportLogger
level=ERROR
formatter=simple
args=()

[handler_screen]
class=StreamHandler
formatter=simple
args=(sys.stdout,)
