[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=file,screen,report

[formatters]
keys=simple

[formatter_simple]
format=%(asctime)s - %(pathname)s - %(levelname)s - %(message)s

[handlers]
keys=file,screen,report

[handler_file]
class=FileHandler
formatter=simple
args=("logs/SecurityReport.log", "w+")

[handler_report]
class=FileHandler
level=ERROR
formatter=simple
args=("logs/Report.log", "w+")

[handler_screen]
class=StreamHandler
formatter=simple
args=(sys.stdout,)
